{{if eq .fabric_name "Ultrasuede ST"}}
{{if eq .color "white"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-white)"></span>
{{else if eq .color "country-cream"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-country-cream)"></span>
{{else if eq .color "sand"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-sand)"></span>
{{else if eq .color "blonde"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-blonde)"></span>
{{else if eq .color "chamois"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-chamois)"></span>
{{else if eq .color "glaze"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-glaze)"></span>
{{else if eq .color "arctic"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-arctic)"></span>
{{else if eq .color "bone"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-bone)"></span>
{{else if eq .color "camel"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-camel)"></span>
{{else if eq .color "coffee-cream"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-coffee-cream)"></span>
{{else if eq .color "aztec-leather"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-aztec-leather)"></span>
{{else if eq .color "moccasin"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-moccasin)"></span>
{{else if eq .color "melange-gray"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-melange-gray)"></span>
{{else if eq .color "melange-beige"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-melange-beige)"></span>
{{else if eq .color "woodhue"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-woodhue)"></span>
{{else if eq .color "brownstone"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-brownstone)"></span>
{{else if eq .color "coffee-bean"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-coffee-bean)"></span>
{{else if eq .color "clove"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-clove)"></span>
{{else if eq .color "silver-pearl"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-silver-pearl)"></span>
{{else if eq .color "montauk"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-montauk)"></span>
{{else if eq .color "sky-blue"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-sky-blue)"></span>
{{else if eq .color "jazz-blue"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-jazz-blue)"></span>
{{else if eq .color "scoundrel"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-scoundrel)"></span>
{{else if eq .color "tangerine"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-tangerine)"></span>
{{else if eq .color "executive-grey"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-executive-grey)"></span>
{{else if eq .color "topiary"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-topiary)"></span>
{{else if eq .color "zodiac"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-zodiac)"></span>
{{else if eq .color "bordeaux"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-bordeaux)"></span>
{{else if eq .color "fushia"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-fushia)"></span>
{{else if eq .color "lemon"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-lemon)"></span>
{{else if eq .color "egyptian-green"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-egyptian-green)"></span>
{{else if eq .color "forrest"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-forrest)"></span>
{{else if eq .color "admiral"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-admiral)"></span>
{{else if eq .color "classic-navy"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-classic-navy)"></span>
{{else if eq .color "violine"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-violine)"></span>
{{else if eq .color "black-onyx"}}<span class="fabric-swatch" style="background-color: var(--color-ultrasuede-st-black-onyx)"></span>
{{end}}
{{end}}
