<nav class="wrapper navbar flex items-center justify-between">
  <a class="text-lg" href="/">handbitesdog.com</a>
  <div class="navbar-links flex items-center gap-3">
    <div class="navbar-dropdown">
      <span class="navbar-dropdown-trigger">
        Footbag
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down navbar-dropdown-icon"><path d="m6 9 6 6 6-6"/></svg>
      </span>
      <div class="navbar-dropdown-menu">
        <div class="navbar-dropdown-panel">
          <a href="/footbag/my-footbags">My footbags</a>
          <a href="/footbag/tutorial">Stitching tutorial</a>
          <a href="/footbag/template-builder">Template builder</a>
          <a href="/footbag/color-patterns">Color patterns</a>
        </div>
      </div>
    </div>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
  </div>
</nav>
