<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.title}} - handbitesdog.com</title>
<link rel="stylesheet" href="/css/lisa/lisa-reset.css">
<link rel="stylesheet" href="/css/lisa/lisa-layout.css">
<link rel="stylesheet" href="/css/lisa/lisa-typography.css">
<link rel="stylesheet" href="/css/lisa/lisa-color.css">
<link rel="stylesheet" href="/css/lisa/lisa-components.css">
<link rel="stylesheet" href="/css/lisa/lisa-interaction.css">
</head>
<body>
{{<Navbar/>}}
<main class="wrapper">{{$children}}</main>
{{<Footer/>}}
</body>
</html>
